/* banner 1 */
section.top > div.center > a { text-decoration: none; }

section.top > div.center > a > img {
    margin: 50px 10px 0 10px;
    position: relative;
}

section.top > div.center > a.cont-geschiedenis { position: relative; }

section.top > div.center > a.cont-geschiedenis > .image3 {
    display: inline-block;
    width: 300px;
    height: 220px;
}

section.top > div.center > a.cont-geschiedenis > div.overlay {
    position: absolute;
    bottom: 3px;
    left: 10px;
    width: 300px;
    height: 220px;
    opacity: 0;
    transition: .5s ease;
    background-color: #222931;
}

section.top > div.center > a.cont-geschiedenis:hover > div.overlay { opacity: 0.8; }

section.top > div.center > a.cont-geschiedenis > div.overlay > p.text {
    color: white;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* end banner 1 */


/* banner 2 */
section.top > div.center > a { text-decoration: none; }

section.top > div.center > a > img {
    margin: 50px 10px 0 10px;
    position: relative;
}

section.top > div.center > a.cont-deals { position: relative; }

section.top > div.center > a.cont-deals > .image3 {
    display: inline-block;
    width: 300px;
    height: 220px;
}

section.top > div.center > a.cont-deals > div.overlay {
    position: absolute;
    bottom: 3px;
    left: 10px;
    width: 300px;
    height: 220px;
    opacity: 0;
    transition: .5s ease;
    background-color: #222931;
}

section.top > div.center > a.cont-deals:hover > div.overlay { opacity: 0.8; }

section.top > div.center > a.cont-deals > div.overlay > p.text {
    color: white;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* end banner 2 */


/* banner 3 */
section.top > div.center > a { text-decoration: none; }

section.top > div.center > a > img {
    margin: 50px 10px 0 10px;
    position: relative;
}

section.top > div.center > a.cont-diensten { position: relative; }

section.top > div.center > a.cont-diensten > .image3 {
    display: inline-block;
    width: 300px;
    height: 220px;
}

section.top > div.center > a.cont-diensten > div.overlay {
    position: absolute;
    bottom: 3px;
    left: 10px;
    width: 300px;
    height: 220px;
    opacity: 0;
    transition: .5s ease;
    background-color: #222931;
}

section.top > div.center > a.cont-diensten:hover > div.overlay { opacity: 0.8; }

section.top > div.center > a.cont-diensten > div.overlay > p.text {
    color: white;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* end banner 3 */