/* styling */

/* font-family: 'Archivo', sans-serif; */

body {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    margin: 0 auto;
    width: 1000px;
}

header > div.center > .logo {
    position: relative;
    top: 30px;
    left: 25px;
}

header > .banner {
    width: 100%;
}

.center > img {
    display: inline-block;
}

/* banner.css */

div.top > div.center > h1 {
    font-size: 34px;
    font-weight: 600;
}

div.top > div.center > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

div.top > div.center > p > span.tooltip {
    position: relative;
    display: inline-block;
    color: #ffe718;
}

div.top > div.center > p > span.tooltip > span.tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 175px;
    background-color: #aeb6be;
    color: #fff;
    text-align: left;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

div.top > div.center > p > span.tooltip:hover > span.tooltiptext {
    visibility: visible;
}

/* breadcrumb */
div.top > div.center > ul.breadcrumb {
    padding: 10px 0;
    list-style: none;
}

div.top > div.center > ul.breadcrumb > li {
    display: inline;
    font-size: 12px;
    font-weight: 400;
}

div.top > div.center > ul.breadcrumb > li > a {
    text-decoration: none;
    color: black;
}

div.top > div.center > ul.breadcrumb > li + li:before {
    padding: 10px;
    color: black;
    content: ">";
}

div.top > div.center > ul.breadcrumb > li > a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* end breadcrumb */

/* ribbon */
.ribbon {
    margin: 0 auto;
    width: 100%;
}

.ribbon > .ribbon-text {
    background: #ffe718 ;
    height: 75px;
    margin: 100px 0 50px 0;
    padding: 20px 0;
    color: #222931;
}

.ribbon > .ribbon-text > .center > h1, .ribbon > .ribbon-text > .center > p, .ribbon > .ribbon-text > .center > a {
    display: inline;
    margin: 25px 0;
}

.ribbon > .ribbon-text > .center > h1 { font-size: 34px; font-weight: 700; }

.ribbon > .ribbon-text > .center > p { 
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 25px;
}

.ribbon > .ribbon-text > .center > a {
    background-color: white;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    left: 325px;
    cursor: pointer;
}

.ribbon > .ribbon-text > .center > a:hover { background-color: #222931; color:white; }
/* end ribbon */

div.bottom > .bottom-banner {
    width: 100%;
}

div.bottom > .center > a {
    width: 246px;
    background-color: #ffe718;
    border: none;
    padding: 10px 32px;
    /* text-align: justify; */
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: 55px;
    cursor: pointer;
    text-decoration: none;
}

div.bottom > .center > a.diensten:hover, div.bottom > .center > a.diensten:hover > .icon {
    background-color: #222931;
    color: white;
}

div.bottom > .center > a > .text {
    display: inline-block;
    text-align: justify;
}

div.bottom > .center > a > .icon {
    color: #222931;
    display: inline-block;
    font-size: 50px;
    position: relative;
    top: 0;
    right: 25px;
}

div.bottom > .center > a > .text > h1 { font-size: 22px; font-weight: 600; margin: 10px 0 0 0; }
div.bottom > .center > a > .text > p { font-size: 14px; font-weight: 600; margin: 5px 0 10px 0; }

hr {
    border: 1px solid #eef0f1;
    position: relative;
    bottom: 20px;
}

div.bottom > .center > div.grid-bottom > div.contact {
    position: relative;
    top: 0;
    left: 0;
}

div.bottom > .center > div.grid-bottom > div.contact > i {
    font-size: 25px;
    color: #aeb6be;
}

div.bottom > .center > div.grid-bottom > div > h1 {
    font-size: 24px;
    font-weight: 600;
}

div.bottom > .center > div.grid-bottom > div > p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.grid-bottom {
    display: grid;
    grid-template-areas: 'overons overons contact';
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: repeat(3, 1fr);
}

.overons { grid-area: overons; }
.contact { grid-area: contact; }

div.bottom > .center > div.grid-bottom > div.overons {
    width: 450px;
}

div.bottom > .center > div.grid-bottom > div.contact {
    position: relative;
    top: 0;
    left: 0;
}

div.bottom > .center > div.grid-bottom > div.contact > i {
    width: 25px;
    height: 25px;
    text-align: center;
}

div.bottom > .center > div.grid-bottom > div.contact > p {
    display: inline-block;
    position: relative;
    top: 0;
    left: 20px;
}

footer {
    background-color: #222931;
    width: 100%;
    height: 40px;
}

footer > p {
    color: white;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: right;
    position: relative;
    top: 10px;
    right: 325px;
}