/* styling */

/* font-family: 'Archivo', sans-serif; */

body {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    margin: 0 auto;
    width: 1000px;
}

header > div > .logo {
    position: relative;
    top: 30px;
    left: 25px;
}

header > .banner {
    width: 100%;
}

.menu {
    width: 950px;
    background-color: #222931;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 40px;
}

.menu { padding: 20px 25px; }

.menu > li {
    display: inline-block;
    /* padding: 0 10px; */
}

.menu > li > a {
    text-decoration: none;
    color: white;
    padding: 20px 10px;
}

.menu > li > a:hover {
    background-color: #ffe718;
    color: #222931;
    /* padding: 20px 10px; */
}

.menu > li > a > i {
    margin: 0 3px;
    color: white;
}

.uitklap-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 32px;
}

.uitklap-menu > li {
    min-width: 150px;
    background-color: #222931;
    display: inline-block;
    padding: 10px;
}

.uitklap-menu > li > a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    padding: 8px 0;
    /* padding: 0 20px; */
}

.uitklap-menu > li > a:hover {
    background-color: #ffe718;
    color: #222931;
    /* padding: 5px 0; */
}

.uitklap-item:hover > .uitklap-menu { display: block; }
.uitklap-item { position: relative; }

.center > img {
    display: inline-block;
}

main > div > img {
    margin: 0 10px;
    position: relative;
    top: 50px;
}

/* ribbon */
.ribbon {
    margin: 0 auto;
    width: 100%;
}

.ribbon > .ribbon-text {
    background: #ffe718 ;
    height: 75px;
    margin: 100px 0 50px 0;
    padding: 20px 0;
    color: #222931;
}

.ribbon > .ribbon-text > .center > h1, .ribbon > .ribbon-text > .center > p, .ribbon > .ribbon-text > .center > button {
    display: inline;
    margin: 25px 0;
}

.ribbon > .ribbon-text > .center > h1 { font-size: 34px; font-weight: 700; }

.ribbon > .ribbon-text > .center > p { 
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 25px;
}

.ribbon > .ribbon-text > .center > button {
    background-color: white;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    left: 325px;
}
/* end ribbon */

footer > .footer {
    width: 100%;
}

footer > .center > button {
    width: 300px;
    background-color: #ffe718;
    border: none;
    padding: 10px 32px;
    /* text-align: justify; */
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: 55px;
}

footer > .center > button > .text {
    display: inline-block;
    text-align: justify;
}

footer > .center > button > .icon {
    color: #222931;
    display: inline-block;
    font-size: 50px;
    position: relative;
    top: 0;
    right: 25px;
}

footer > .center > button > .text > h1 { font-size: 22px; font-weight: 600; margin: 10px 0 0 0; }
footer > .center > button > .text > p { font-size: 14px; font-weight: 600; margin: 5px 0 10px 0; }

hr {
    border: 1px solid #eef0f1;
    position: relative;
    bottom: 20px;
}

footer > .center > main > div.contact {
    position: relative;
    top: 0;
    left: 0;
}

footer > .center > main > div.contact > i {
    font-size: 25px;
    color: #aeb6be;
}

footer > .center > main > div > h1 {
    font-size: 24px;
    font-weight: 600;
}

footer > .center > main > div > p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}